.contact {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 40vh;
    width: 100%;
    text-align: center;
    z-index: 1;
    margin-bottom: 200px;
}

.contact h2 {
    text-align: left;
    margin-left: 20px;
}

.contact-container {
    width: 70%;
    border: dashed lightsalmon;
    text-align: left;
    margin-left: 100px;
}

.contact-container h5 {
    /* top right bottom left */
    margin: 50px 10px 10px 10px;
    font-size: 20px;
}

.contact-container h6 {
    /* top right bottom left */
    margin: 0px 20px 30px 20px;
    font-size: 13px;
}